html {
    background-color: #FFE162;
    font-family: 'Poppins', sans-serif;
}
body{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    height:90vh;
    background-color: #FFE162;

}

.cards{
    display:flex;
    flex-direction:row;
    margin:1em;
}

.dealer,.player{
    display:flex;
    flex-direction:column;

    width:20rem;
    height:20rem;
    background-color: #FF6464;
    color:white;
    font-size: 13rem;
}

.cards div:nth-child(even){
    background-color: #91C483;
}

div button{
    width:10rem;
    height:5rem;
    background-color: #FF6464;
    border:none;
    color:white;
    border: 2px solid #EEEEEE;
    border-radius:1.5rem;
    font-size:2rem;
    font-weight:bold;
    margin:0 2rem;

    transition: 1s ease;
}

.stand{
    background-color: #91C483;
}

.text{
    font-size:2rem;
    color:#EEEEEE;
}

.hello{
    margin:2rem 0 0 0;
    font-size:9rem;
}

.ani{
    transition:0.30s ease;
    transform: scale(1);
    /* background-color: #fff; */
}
.iii{
    /* position:absolute; */
    transition:0.2s ease;
    transform: scale(0);
}
.divButtons{
    display:flex;
    flex-direction:row;
    justify-content: center;
    transition:1s ease;
    width:100%;
    height:5.3rem;
    margin:1rem;
}

.ii{
    position:absolute;
    width:10rem;
    height:5rem;
}

.playAgain{
    width:15rem;
}

.resultWin{
    position:absolute;
    transition:1s ease;
    width:40rem;
    height:20rem;
    opacity:0;
    background-image: url("https://pixelartmaker-data-78746291193.nyc3.digitaloceanspaces.com/image/32505ae5322d0c1.png");
}

.resultLose{
    position:absolute;
    transition:1s ease;
    width:40rem;
    height:20rem;
    opacity:0;
    background-image: url("https://pixelartmaker-data-78746291193.nyc3.digitaloceanspaces.com/image/8d3202a41dfe82e.png");
    background-size: contain;
}

.resultDraw{
    position:absolute;
    transition:1s ease;
    width:40rem;
    height:20rem;
    opacity:0;
    background-image: url("https://www.seekpng.com/png/detail/352-3520672_repeat-repeat-icons.png");
    background-size: contain;
}

